@model Assignment2.Models.Trainer
@using Assignment2.Models.Enum
@using Assignment2.Models

<div class="popover-header bg-transparent">
    <h1>Create Trainer </h1>
</div>

<div class="form-horizontal border-top border-bottom border-secondary">
    <form class="form-check" action="" method="post">
        @Html.AntiForgeryToken()
        <br />
        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your firstname", Type = "string" } })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "form-text alert-danger" })
            </div>
            <div class="form-group col-5">
                @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your lastname", Type = "string" } })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "form-text alert-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email", Type = "email" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-text alert-danger" })
            </div>
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Phone, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your phone", Type = "number" } })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "form-text alert-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Salary, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.Salary, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your salary", Type = "number" } })
                @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "form-text alert-danger" })
            </div>
            <div class="form-group col-5">
                @Html.LabelFor(m => m.HireDate, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.HireDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email", Type = "date" } })
                @Html.ValidationMessageFor(m => m.HireDate, "", new { @class = "form-text alert-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                @Html.LabelFor(m => m.PhotoUrl, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(m => m.PhotoUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your photo url", Type = "url" } })
                @Html.ValidationMessageFor(m => m.PhotoUrl, "", new { @class = "form-text alert-danger" })

            </div>
            <div class="form-group col-5">
                @Html.LabelFor(m => m.Country, htmlAttributes: new { @class = "control-label " })
                @Html.EnumDropDownListFor(m => m.Country, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <label for="studentId" class="form-check-label col-1"> Student:</label>
                <select name="studentId" class="form-control col-8">

                    @foreach (var item in ViewBag.Students as List<Student>)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }

                </select>
            </div>
            <div class="form-group col-5">
                <label for="studentId" class="form-check-label col-1"> Select Courses:</label>
                <select name="studentId" class="form-control col-8" multiple>

                    @foreach (var item in ViewBag.Courses as List<Course>)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }

                </select>
            </div>
        </div>
        
           
        
        <div class="form-row">
            <div class="form-group">
                <input class="btn btn-primary mb-2" type="submit" name="create" value="Create" />
                <input class="btn btn-danger mb-2" type="reset" name="clear" value="Clear" />
            </div>
        </div>
    </form>
</div>
<br />
<div>
    @Html.ActionLink("Go back", "Index", null, new { @class = "btn btn-sm btn-secondary" })
</div>

