@model Assignment2.Models.Trainer
<div class="container">
    <div class="popover-header">
        <h2>Delete trainer</h2>
    </div>

    <div class="main bg-transparent" id="deleteForm">
        <form class="form-check" action="" method="post">
            <div class="form-group col-md-9">
                <label class="font-weight-bold" for="Salary">Do you want really to delete the trainer: </label>
                <span>  </span>
                <input class="btn btn-outline-danger col-sm-1" type="submit" name="name" value="Yes"/>
                <span>  </span>
                <button class="btn btn-outline-dark col-sm-1" type="reset" name="name">No</button> 
            </div>
        </form>
        <table class="table table-responsive-md border-right-0 table-dark">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Phone</th>
                    <th>Salary</th>
                    <th>Email</th>
                    <th>Hired(y/m/d)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td><img src="@Model.PhotoUrl" width="50" /></td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.Phone</td>
                    <td>@Model.Salary</td>
                    <td>@Model.Email</td>
                    <td>@Model.HireDate</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/Trainer/" class="btn btn-outline-primary" target="_self" title="BACK">Back</a>
    </div>
</div>