@model Assignment2.Models.Trainer

<div class="container">
    <div class="card-header">
        <h2><span class="badge badge-info"> Details of @Model.LastName</span></h2>
    </div>

    <div class="main ">
        <table class="table table-responsive-lg">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Phone</th>
                    <th>Salary</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Student</th>
                    <th>Hired(y/m/d)</th>
                    <th>Courses</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td><img src="@Model.PhotoUrl" width="50" /></td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.Phone</td>
                    <td>@Model.Salary</td>
                    <td>@Model.Email</td>
                    <td>@Model.Country</td>
                    <td>@(Model.Student.LastName) @(Model.Student.FirstName)</td>

                    <td>@Model.HireDate.ToString("yyyy/m/d")</td>
                    <td>
                        <ul class="small list-unstyled">
                            @foreach (var course in Model.Courses)
                            {
                                <li class="small text-sm-center">@course.Title</li>
                            }
                        </ul>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("Go back", "Index", "Trainer", null, new { @class = "btn btn-sm btn-secondary", title = "back" })
    </div>
</div>

