<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    @Html.ActionLink("CRUD Application", "Index", "Home", null, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Trainers", "Index", "Trainer", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Students", "Index", "Student", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Assignments", "Index", "Assignment", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Courses", "Index", "Course", null, new { @class = "nav-link" })
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
