@model Assignment2.Models.Student

<h2 class="display-4">Delete</h2>
<script> alert("Danger!!!All employees associated with this project will be deleted")   </script>
<h3>Are you sure you want to delete this?</h3>
<h3> All trainers associated with this student will be deleted</h3>
<div>
    <h4>Student</h4>
    <hr />
    
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainers)
        </dt>
        <ul>
            @foreach (var trainer in Model.Trainers)
            {
                <li>@trainer.FirstName @trainer.LastName</li>
            }
        </ul>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
<hr/>
<div>
    @Html.ActionLink("Go back", "Index", "Student", null, new { @class = "btn btn-sm btn-secondary" })
</div>
