@model PagedList.IPagedList<Assignment2.Models.Student>
@using Assignment2.Models.Enum
@using PagedList
@using PagedList.Mvc

<div class="popover-header bg-transparent">
    <h1>Our Available Students</h1>
</div>
<br />
@if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times</a>
        <strong>Success!</strong>@TempData["message"]
    </div>
}
<br />
<div>
    @Html.ActionLink("Create new Student", "Create", "Student", null, new { @class = "btn btn-success" })
</div>
<br />
<div class="form-group ">
    <form class="form-row p-1">

        @{
            var countries = Enum.GetNames(typeof(Country));
        }

        <select name="searchCountry" class="form-control col-2 custom-select">
            @if (ViewBag.currentCountry == null)
            {
                <option value="">All</option>
                foreach (var country in countries)
                {

                    <option>@country</option>
                }
            }
            else
            {
                <option value="">All</option>
                foreach (var country in countries)
                {
                    if (country == ViewBag.currentCountry)
                    {
                        <option selected>@country</option>
                    }
                    else
                    {
                        <option>@country</option>
                    }
                }

            }
        </select>
        <input class="form-control col-1" type="number" name="searchMin" value="@(ViewBag.currentSalaryMin is null ? ViewBag.MinSalary : ViewBag.currentSalaryMin)" placeholder="Set min revenue" min="@ViewBag.MinSalary" max="@ViewBag.MaxSalary" />
        <input class="form-control col-1" type="number" name="searchMin" value="@(ViewBag.currentSalaryMax is null ? ViewBag.MaxSalary : ViewBag.currentSalaryMax)" placeholder="Set max revenue" min="@ViewBag.MinSalary" max="@ViewBag.MaxSalary" />

        <input class="form-control col-2" type="text" name="searchFirstName" value="@ViewBag.currentFirstName" placeholder="Search First Name" />
        <input class="btn btn-primary btn-group-sm" type="submit" name="name" value="Search Student" />
    </form>
</div>
<div class="pagination-lg float-left"><strong>Page @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount)</strong></div>
<div class="bg-transparent text-secondary text-end float-right">
    <p>Total records:<strong> @Model.Count()</strong></p>
</div>
<br />
<table class="table table-hover table-striped table-dark table-responsive-lg text-center">
    <tr>
    <thead class="thead-dark">
        <tr>
            <th>@Html.ActionLink("#", "Index", "Student", new { sortOrder = ViewBag.IdSortParam }, null)</th>
            <th><i class="fa-solid fa-file-image"></i></th>
            <th>@Html.ActionLink("FirstName", "Index", "Student", new { sortOrder = ViewBag.FirstNameSortParam, searchFirstName = ViewBag.currentFirstName, searchCountry = ViewBag.currentCountry, searchSalaryMin = ViewBag.currentSalaryMin, searchSalaryMax = ViewBag.currentSalaryMax }, null)</th>
            <th>@Html.ActionLink("LastName", "Index", "Student", new { sortOrder = ViewBag.LastNameSortParam }, null)</th>
            <th><i class="fa-solid fa-mobile-screen"></i></th>
            <th>@Html.ActionLink("Revenue", "Index", "Student", new { sortOrder = ViewBag.SalarySortParam }, null)</th>
            <th><i class="fa-solid fa-envelope"></i></th>
            <th>@Html.ActionLink("Registration", "Index", "Student", new { sortOrder = ViewBag.SalarySortParam }, null)</th>
            <th>@Html.ActionLink("Trainers", "Index", "Student", new { sortOrder = ViewBag.StudentSortParam }, null)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td><img src="@student.PhotoUrl" width="30" alt="@student.FirstName+''+@student.LastName" /></td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Phone</td>
                <td>@student.Salary</td>
                <td>@student.Email</td>
                <td>@student.HireDate.ToString("yyyy/MM/dd")</td>
                <td>
                    <ul class="small list-unstyled">
                        @foreach (var trainer in student.Trainers)
                        {
                            <li> @trainer.FirstName @trainer.LastName</li>
                        }
                    </ul>
                </td>

                <td>
                    <div class="btn-group">
                        <div class="p-sm-1">
                            <a href="/student/Details?id=@student.Id" class="btn btn-outline-info btn-sm">Details</a>
                        </div>
                        <div class="p-sm-1">
                            <a href="/student/Edit?id=@student.Id" class="btn btn-outline-warning btn-sm">Edit</a>
                        </div>
                        <div class="p-sm-1">
                            <a href="/student/Delete?id=@student.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-lg font-weight-bold">
    @Html.PagedListPager(Model, x => Url.Action("Index", "Student", new { page = x, pSize = 5 }), PagedListRenderOptions.Classic)
</div>

<div>
    @Html.ActionLink("Go back", "Index", "Home", null, new { @class = "btn btn-sm btn-secondary" })
</div>
